<div class="sample-gallery">
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-florencia" href="img/florencia-fasad-1.jpg" title="Венге тёмный"><img src="img/florencia-fasad-1.jpg" alt="florencia-fasad" class="img-fluid" title="Венге тёмный"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-florencia" href="img/florencia-fasad-2.jpg" title="Старый дуб"><img src="img/florencia-fasad-2.jpg" alt="florencia-fasad" class="img-fluid" title="Старый дуб"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-florencia" href="img/florencia-fasad-3.jpg"  title="Ольха"><img src="img/florencia-fasad-3.jpg" alt="florencia-fasad" class="img-fluid"  title="Ольха"></a>
	</div>

	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-florencia" href="img/florencia-fasad-4.jpg" title="Дуб сонома"><img src="img/florencia-fasad-4.jpg" alt="florencia-fasad" class="img-fluid" title="Дуб сонома"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-florencia" href="img/florencia-fasad-5.jpg" title="Дуб цинамон"><img src="img/florencia-fasad-5.jpg" alt="florencia-fasad" class="img-fluid" title="Дуб цинамон"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-florencia" href="img/florencia-fasad-6.jpg" title="Белое дерево"><img src="img/florencia-fasad-6.jpg" alt="florencia-fasad" class="img-fluid" title="Белое дерево"></a>
	</div>




	
	
			
</div>