<div class="sample-gallery">
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-1.jpg" title="Черный металлик"><img src="img/modern-fasad-1.jpg" alt="modern-fasad" class="img-fluid" title="Четный металлик"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-2.jpg" title="Шоколад глянец"><img src="img/modern-fasad-2.jpg" alt="modern-fasad" class="img-fluid" title="Шоколад глянец"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-3.jpg"  title="Мокко глянец"><img src="img/modern-fasad-3.jpg" alt="modern-fasad" class="img-fluid"  title="Мокко глянец"></a>
	</div>

	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-4.jpg" title="Ваниль глянец"><img src="img/modern-fasad-4.jpg" alt="modern-fasad" class="img-fluid" title="Ваниль глянец"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-5.jpg" title="Сирень глянец"><img src="img/modern-fasad-5.jpg" alt="modern-fasad" class="img-fluid" title="Сирень глянец"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-6.jpg" title="Бордо глянец"><img src="img/modern-fasad-6.jpg" alt="modern-fasad" class="img-fluid" title="Бордо глянец"></a>
	</div>

	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-7.jpg" title="Красный глянец"><img src="img/modern-fasad-7.jpg" alt="modern-fasad" class="img-fluid" title="Красный глянец"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-8.jpg" title="Красный металлик"><img src="img/modern-fasad-8.jpg" alt="modern-fasad" class="img-fluid" title="Красный металлик"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-9.jpg" title="Лайм глянец"><img src="img/modern-fasad-9.jpg" alt="modern-fasad" class="img-fluid" title="Лайм глянец"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-modern" href="img/modern-fasad-10.jpg" title="Белый глянец"><img src="img/modern-fasad-10.jpg" alt="modern-fasad" class="img-fluid" title="Белый глянец"></a>
	</div>
	
			
</div>