<div class="sample-gallery">
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-optima" href="img/optima-fasad-1.jpg" title="Дуб трюфель"><img src="img/optima-fasad-1.jpg" alt="optima-fasad" class="img-fluid" title="Дуб трюфель"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-optima" href="img/optima-fasad-2.jpg" title="Дуб сонома"><img src="img/optima-fasad-2.jpg" alt="optima-fasad" class="img-fluid" title="Дуб сонома"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-optima" href="img/optima-fasad-3.jpg"  title="Дуб шамони тёмный"><img src="img/optima-fasad-3.jpg" alt="optima-fasad" class="img-fluid"  title="Дуб шамони тёмный"></a>
	</div>

	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-optima" href="img/optima-fasad-4.jpg" title="Дуб шамони светлый"><img src="img/optima-fasad-4.jpg" alt="optima-fasad" class="img-fluid" title="Дуб шамони светлый"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-optima" href="img/optima-fasad-5.jpg" title="Мокко"><img src="img/optima-fasad-5.jpg" alt="optima-fasad" class="img-fluid" title="Мокко"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-optima" href="img/optima-fasad-6.jpg" title="Ваниль"><img src="img/optima-fasad-6.jpg" alt="optima-fasad" class="img-fluid" title="Ваниль"></a>
	</div>

	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-optima" href="img/optima-fasad-7.jpg" title="Лайм"><img src="img/optima-fasad-7.jpg" alt="optima-fasad" class="img-fluid" title="Лайм"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-f-optima" href="img/optima-fasad-8.jpg" title="Светло-зелёный"><img src="img/optima-fasad-8.jpg" alt="optima-fasad" class="img-fluid" title="Светло-зелёный"></a>
	</div>
	
			
</div>