<div class="sample-gallery">
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-korp-optima" href="img/optima-korpus-1.jpg" title="Венге тёмный"><img src="img/optima-korpus-1.jpg" alt="optima-korpus" class="img-fluid" title="Венге тёмный"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-korp-optima" href="img/optima-korpus-2.jpg" title="Ольха"><img src="img/optima-korpus-2.jpg" alt="optima-korpus" class="img-fluid" title="Ольха"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-korp-optima" href="img/optima-korpus-3.jpg"  title="Дуб молочный"><img src="img/optima-korpus-3.jpg" alt="optima-korpus" class="img-fluid"  title="Дуб молочный"></a>
	</div>

	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-korp-optima" href="img/optima-korpus-4.jpg" title="Белый"><img src="img/optima-korpus-4.jpg" alt="optima-korpus" class="img-fluid" title="Белый"></a>
	</div>
	
	
			
</div>