<div class="row">
	<div class="col text-center">
		<h3 class="product__title">Кухня "Флоренция"</h3>
		<p class="product__describe">Кухня с фасадами из МДФ с двойной фрезеровкой   </p>
	</div>
</div>
<div class="row product " >	
	<div class="col-lg-6">					
		<div class="product__imagebox">
			<img src="img/florencia.jpg" alt="" class="img-fluid" data-action="zoom">
		</div>
		<div class="product__buy py-5">
			<a href="kitchen-florencia.html" class="btn btn-style btn-buy btn-detail">Подробнее</a>
			
				
		</div>	
		
	</div>
	<div class="col-lg-6 product__card">
		<!-- <h3 class="product__title">Кухня "Флоренция"</h3>
		<p class="product__describe">Кухня с фасадами из МДФ с двойной фрезеровкой   </p> -->
		<div class="product__property">
			<div class="product__property--color mb-4">
				<div class="prop_name">Цвета корпуса:</div>
				<img src="img/venge.jpg" alt="" class="img-fluid img-sample" title="венге темный" data-action="zoom">
				<img src="img/olha.jpg" alt="" class="img-fluid img-sample" title="ольха">
				<img src="img/dub-molochni.jpg" alt="" class="img-fluid img-sample" title="дуб молочный">
				<img src="img/white.jpg" alt="" class="img-fluid img-sample" title="белый">
			</div>
			<div class="product__property--color">
				<div class="prop_name">Цвета фасадов:</div>
				<img src="img/flor-venge.jpg" alt="Венге тёмный" class="img-fluid img-sample" title="Венге тёмный">

				<img src="img/flor-oak-old.jpg" alt="Дуб старый" class="img-fluid img-sample" title="Дуб старый">

				<img src="img/flor-redwood.jpg" alt="Редвуд" class="img-fluid img-sample" title="Редвуд">

				<img src="img/flor-olha.jpg" alt="Ольха" class="img-fluid img-sample" title="Ольха">

				<img src="img/flor-sonoma.jpg" alt="Дуб сонома" class="img-fluid img-sample" title="Дуб сонома">

				<img src="img/flor-cinnamon.jpg" alt="Дуб циннамон" class="img-fluid img-sample" title="Дуб циннамон">	

				<img src="img/flor-white-wood.jpg" alt="Белое дерево" class="img-fluid img-sample" title="Белое дерево">	

				

			</div>
		</div>
		<div class="product__price ">
			
			
			<!-- <div class="product__price--new">8888грн</div> -->
		</div>
		
	</div>		
			
</div>