<div class="row">
	<div class="col text-center">
		<h3 class="product__title">Кухня "Оптима"</h3>
		<p class="product__describe">Качественная кухня с фасадами из ДСП</p>
	</div>
</div>
<div class="row product " >
	<div class="col-lg-6">
		<div class="product__imagebox">
			<img src="img/kitch-optima.png" alt="" class="img-fluid">
		</div>
		<div class="product__buy py-5">
			<a href="kitchen-optima.html" class="btn btn-style btn-buy btn-detail">Подробнее</a>
			
				
		</div>	
		
	</div>
	<div class="col-lg-6 product__card">
		<!-- <h3 class="product__title">Кухня "Оптима"</h3>
		<p class="product__describe">Качественная кухня с фасадами из ДСП  </p> -->
		<div class="product__property">
			<div class="product__property--color">
				<div class="prop_name">Цвета корпуса:</div>
				<img src="img/venge.jpg" alt="" class="img-fluid img-sample" title="венге темный">
				<img src="img/olha.jpg" alt="" class="img-fluid img-sample" title="ольха">
				<img src="img/dub-molochni.jpg" alt="" class="img-fluid img-sample" title="дуб молочный">
				<img src="img/white.jpg" alt="" class="img-fluid img-sample" title="белый">
			</div>
			<div class="product__property--size">
				<div class="prop_name">Цвета фасадов:</div>
				<img src="img/trufel.jpg" alt="" class="img-fluid img-sample" title="Дуб трюфель">
				<img src="img/sonoma.jpg" alt="" class="img-fluid img-sample" title="Дуб сонома">
				<img src="img/shamoni-tem.jpg" alt="" class="img-fluid img-sample" title="Дуб шамони тёмный">
				<img src="img/shamoni-svet.jpg" alt="" class="img-fluid img-sample" title="Дуб шамони светлый">
				<img src="img/mokko.jpg" alt="" class="img-fluid img-sample" title="Мокко">
				<img src="img/vanila.jpg" alt="" class="img-fluid img-sample" title="Ваниль">
				<img src="img/lime.jpg" alt="" class="img-fluid img-sample" title="Лайм">
				<img src="img/green.jpg" alt="" class="img-fluid img-sample" title="Светло-зелёный">
			</div>
		</div>
		<div class="product__price">
			<!-- <div class="product__price--old">7990грн</div> -->
			
			<!-- <div class="product__price--new">5593грн</div> -->
		</div>
		
	</div>		
			
</div>