<div class="row product " >
				<div class="col-lg-6">
					<div class="product__imagebox">
						<img src="img/modern.jpg" alt="" class="img-fluid">
					</div>
					
				</div>
				<div class="col-lg-6 product__card">
					<h3 class="product__title">Кухня "Модерн"</h3>
					<p class="product__describe">Кухня с фасадами из МДФ глянец  </p>
					<div class="product__property">
						<div class="product__property--color">
							<div class="prop_name">Цвета корпуса:</div>
							<img src="img/venge.jpg" alt="" class="img-fluid img-sample" title="венге темный">
							<img src="img/olha.jpg" alt="" class="img-fluid img-sample" title="ольха">
							<img src="img/dub-molochni.jpg" alt="" class="img-fluid img-sample" title="дуб молочный">
							<img src="img/white.jpg" alt="" class="img-fluid img-sample" title="белый">
						</div>
						<div class="product__property--size">
							<div class="prop_name">Цвета фасадов:</div>
							<img src="img/black-metal.jpg" alt="Чёрный металлик" class="img-fluid img-sample" title="Чёрный металлик">

							<img src="img/chokolate-gloss.jpg" alt="Шоколад глянец" class="img-fluid img-sample" title="Шоколад глянец">

							<img src="img/mokko-gloss.jpg" alt="Мокко глянец" class="img-fluid img-sample" title="Мокко глянец">

							<img src="img/vanila-gloss.jpg" alt="Ваниль глянец" class="img-fluid img-sample" title="Ваниль глянец">

							<img src="img/violet-gloss.jpg" alt="Сирень глянец" class="img-fluid img-sample" title="Сирень глянец">

							<img src="img/bordo-gloss.jpg" alt="Бордо глянец" class="img-fluid img-sample" title="Бордо глянец">	

							<img src="img/red-gloss.jpg" alt="Красный глянец" class="img-fluid img-sample" title="Красный глянец">	

							<img src="img/red-metall.jpg" alt="Красный металлик" class="img-fluid img-sample" title="Красный металлик">							

							<img src="img/lime-gloss.jpg" alt="Лайм глянец" class="img-fluid img-sample" title="Лайм глянец">

							<img src="img/white-gloss.jpg" alt="Белый глянец" class="img-fluid img-sample" title="Белый глянец">

						</div>
					</div>
					<div class="product__price">
						
						
						<div class="product__price--new">8888грн</div>
					</div>
					<div class="product__buy">
						<a href="kitchen-modern.html" class="btn btn-style btn-buy ">Подробнее</a>
						
							
					</div>	
				</div>		
			
			</div>