<div class="sample-gallery">
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-stol" href="img/stol-1.jpg" title="Мрамор крошка"><img src="img/stol-1.jpg" alt="stol" class="img-fluid" title="Мрамор крошка"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-stol" href="img/stol-2.jpg" title="Мрамор Карара"><img src="img/stol-2.jpg" alt="stol" class="img-fluid" title="Мрамор Карара"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-stol" href="img/stol-3.jpg"  title="Гранит Индийский"><img src="img/stol-3.jpg" alt="stol" class="img-fluid"  title="Гранит Индийский"></a>
	</div>

	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-stol" href="img/stol-4.jpg" title="Петра беж"><img src="img/stol-4.jpg" alt="stol" class="img-fluid" title="Петра беж"></a>
	</div>
	<div class="sample-img-item">
		<a class="grouped_elements" rel="group-stol" href="img/stol-5.jpg" title="Гранит серый"><img src="img/stol-5.jpg" alt="stol" class="img-fluid" title="Гранит серый"></a>
	</div>
	
	
			
</div>