@charset "UTF-8";
.str2 {stroke:black;stroke-width:0.0762}
.str1 {stroke:#838588;stroke-width:0.0762;stroke-linecap:round;stroke-linejoin:round}
.str4 {stroke:black;stroke-width:0.2046}
.str3 {stroke:#86888B;stroke-width:0.2046}
.str0 {stroke:black;stroke-width:0.2413;stroke-linecap:round;stroke-linejoin:round}
.fil1 {fill:none}
.fil3 {fill:none;fill-rule:nonzero}
.fil0 {fill:white}
.fil4 {fill:#77787B;fill-rule:nonzero}
.fil5 {fill:#86888B;fill-rule:nonzero}
.fil2 {fill:white;fill-rule:nonzero}
